.error {
    font-weight: bold;
    color: red;
}

.success {
    font-weight: bold;
    color: green;
}

#lutador-status {
    width: 300px;
    
    display: flex;
    flex-direction: column;
    
    border: 2px solid #000;
    border-radius: 10px;
}

#lutador-status .lutador-nome {
    margin: 0;
    padding: 10px;

    background-color: #ff3d3d;
    
    border-radius: 8px 8px 0px 0px;
    
    font-weight: bold;
    font-size: 20px;
}

#lutador-status .lutador-caracteristicas {
    padding: 5px 10px;
    
    display: flex;
    gap: 10px;
    
    background-color: #9494ff;
    border-radius: 0px 0px 8px 8px;
}

#lutador-status .lutador-caracteristicas p {
    margin: 0;
}